---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../stylesheets/globalStyles.css';
const pageTitle = "About Me"
const pageDescription = "About me page for Lapane.io"
const identity = {
	name: "Lapane",
	location: "Earth",
	Occupation: ["Math Student", "Blogger", " and Programmer"],
	Interests: ["learniing Mathematics", "Programming", "Web Development",
		"Design", "Reading", "Longboarding", "Dancing", "Gaming"]
}
const skills = ["HTML", "CSS", "JS", "React", "Astro", "Python", "SQL", "R"]

// Conditional rendering varibles
const finished:boolean = false;
// Get today's date
const today:any = new Date();
const year:number = today.getFullYear();
const lastDay:any = new Date(year, 11, 31);
const daysUntilDec31:number = Math.floor(( lastDay - today) / (1000 * 60 * 60 * 24));
const targetDate:any = new Date(today.getFullYear(), today.getMonth(), today.getDate() + daysUntilDec31);

---
<BaseLayout pageTitle = {pageTitle} pageDescription = {pageDescription}>
	<div class="header-graphic" slot="header-graphic">
		<span>About</span>
	</div>
	<div class="content-container">
		My name is {identity.name}, I live on {identity.location} and i am a {identity.Occupation.join(", ")}
		My hobbies are {identity.Interests.join(", ")}
		
		<h2>My skills are:</h2>
		{skills.map((skill) => (<li class="skill">{skill}</li>))}
		<p><div class="date">{daysUntilDec31} </div>days left to completetion</p>
	</div>
</BaseLayout>